
@import "bootstrap.less";

/*List*/
.list-item {
  border-bottom: 1px solid #ebebeb;
}

h2 {
  height: 33px;
  overflow: hidden;
  margin-bottom: 3px;

  @media (min-width: @screen-sm-min) {
    margin-bottom: 15px;
  }
}

.image-box {
  height: 100px;
  overflow: hidden;
  margin: 10px 0;
  position: relative;

  img {
    position:absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
  }
}

.date {
  margin-bottom: 3px;
  @media (min-width: @screen-sm-min) {
    position: absolute;
    top:1px;
    left: 115px;
  }
}

.flickr-link {
  margin-left: 20px;
  @media (min-width: @screen-sm-min) {
    margin-left: 240px;
  }
}

.btn-more {
  margin: 20px 0;
}

/*Detail*/

.btn-back {
  margin-top: 20px;
  @media (min-width: @screen-sm-min) {
    position: absolute;
    top: 5px;
    right: 20px;
  }
}

.detail h1 {
  min-height: 36px;
}

.detail .info {
  margin-top: 10px;
  margin-bottom: 20px;
}

.detail body p {
  padding-top: 20px;
}

.g-plus-wrapper {
  margin-top: 20px;
}

