<section class="container-fluid list" window-resize >
    <h1>Flickr Public Feed</h1>

    <div class="row list-item" ng-repeat="photo in collection track by $index">

        <div class="image-box col-xs-3 col-sm-2 col-lg-1">
          <a ng-href="#feed/{{$index}}">
            <img ng-src="{{photo.media.m}}" />
          </a>
        </div>

        <div class="col-xs-9 col-sm-10 col-lg-11">
          <h2>
            <a ng-href="#feed/{{$index}}">
              <dynamic-truncate text="photo.title"></dynamic-truncate>
            </a>
          </h2>

          <div class="row">
              <div class="col-sm-12">
                  <span class="date" published-date="photo.published"></span>
              </div>
              <div class="col-sm-12">
                  <a class="author" ng-href="https://www.flickr.com/people/{{photo.author_id}}/">Photo author</a>
                  <a class="flickr-link" ng-href="{{photo.link}}">View on Flickr</a>
              </div>
          </div>
        </div>
    </div>

    <button class="btn btn-primary btn-more" ng-click="loadMore()">Load more</button>

</section>